body {
    font-family: Arial, sans-serif;
}

#glogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    padding-bottom: 65px;
}


#sbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: transparent;
    border: 2px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: 1px solid #414141;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    border-radius: 50px;


}

#buttons {
    text-align: center;
}

#gsearch {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#lucky {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

#french {
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#about {
   float: left;
}

#about a {
    display: block;
    color: #222;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    font-size: 15px;
    text-decoration: none;

}

#store {
    float: left;
}

#store a {
    display: block;
    color: #222;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    font-size: 15px;
    text-decoration: none;

}

#gmail {
    float: right;
}

#gmail a {
    display: block;
    color: #222;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    font-size: 13px;
    text-decoration: none;

}

#images {
    float: right;
}

#images a {
    display: block;
    color: #222;
    text-align: center;
    padding: 5px;
    padding-right: 100px;
    margin: 0 5px;
    font-size: 13px;
    text-decoration: none;

}

#footer {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        background-color: #dadce0;

}

#advertising {
    display: block;
    color: #222;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    font-size: 15px;
    white-space: nowrap;
    padding-left: 50px;
}

#advertising a {
    text-decoration: none;
    color: #70757a;
}

#business {
    display: block;
    color: #222;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    font-size: 15px;
    white-space: nowrap;
}

#business a {
    text-decoration: none;
    color: #70757a;
}

#searchworks {
    display: block;
    color: #222;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    font-size: 15px;
    white-space: nowrap;
}

#searchworks a {
    text-decoration: none;
    color: #70757a;
}

#privacy {
    display: block;
    color: #222;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    font-size: 15px;
    white-space: nowrap;
}

#privacy a {
    text-decoration: none;
    color: #70757a;
}

#terms {
    display: block;
    color: #222;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    font-size: 15px;
    white-space: nowrap;
}

#terms a {
    text-decoration: none;
    color: #70757a;
}

#settings {
    display: block;
    color: #222;
    text-align: center;
    padding: 15px;
    margin: 0 5px;
    font-size: 15px;
    white-space: nowrap;
}

#settings a {
    text-decoration: none;
    color: #70757a;
}